<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.whattodowhenyourebored" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Entertaining_yourself_while_traveling"
            android:label="@string/title_activity_entertaining_yourself_while_traveling" >
        </activity>
        <activity
            android:name=".Entertainingyourselfoutsidethehouse"
            android:label="@string/title_activity_entertainingyourselfoutsidethehouse" >
        </activity>
        <activity
            android:name=".Entertaining_yourself_with_friend"
            android:label="@string/title_activity_entertaining_yourself_with_friend" >
        </activity>
        <activity
            android:name=".Entertaining_yourself_at_work_or_class"
            android:label="@string/title_activity_entertaining_yourself_at_work_or_class" >
        </activity>
        <activity
            android:name=".To_get_started_busting_through_your_boredom"
            android:label="@string/title_activity_to_get_started_busting_through_your_boredom" >
        </activity>
        <activity
            android:name=".Tell_us_about_yourself"
            android:label="@string/title_activity_tell_us_about_yourself" >
        </activity>
    </application>

</manifest>
